{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

   <style>
    .head-p{
      font-size:20px;
    }
    .time-z{
      font-size:16px;
    }
    .amount{
      font-size: 33px;
      font-weight: 500;
    }

    .full{
      font-size: 1.8rem;
      font-weight: 700;
    }

    @media (max-width:768px) {
      .btn-primary{
        padding:12px 6rem;
      }
    
      .icon-2{
        width: 22%;
      }
      .head-p{
        font-size: 18px;
      }
      .time-z{
      font-size:13px;
    }
    }
  </style> 

</head>

<body class="page-contact">

 

  <main id="main">

   

    <!-- ======= Contact Section ======= carbon0345 -->
    <section id="contact" class="">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-3 d-flex justify-content-center">
            {%  for i in recenting %}
            <div class="col-lg-12 col-12 text-center" data-aos="fade-up" data-aos-delay="250">
                <div class="d-flex justify-content-evenly">
                  <span><i class="bi bi-arrow-left"></i></span>
                  <p style="text-transform: uppercase;">Payment Processed</p>
                  <span><i class="bi bi-x-lg"></i></span>
                </div>
                <div class=" py-3 px-3" style="display:inline-block;">
                    <div class="card-body">
                        <p style="font-weight:900;font-size:20px;">Sent ${{ i.price }}</p>
                        <div class="icon3 mt-3 mb-3">
                            <span class="full"><i class="bi bi-check"></i></span>
                        </div>
                        <h5 style="font-weight: 900;">to {{ i.name }}</h5>
                        <h3  class="text-muted pt-2 head-p">{{ i.number }}</h3>
                         <p class="pt-5" style="font-size:13px;">The money will be availiable in {{ i.name }} account shortly</p>
                        <div class="" style="margin-top: 6rem;">
                          <p>comfirmation: PNC{{ list_for_random | random }}</p>
                          <button href="javascript:void()" class="btn btn-primary pen-1 text-white">Pending</button>
                        </div>
                    </div>
                </div>

            </div>
          {%  endfor  %}
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 

  

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>